<h1>Listing Recepciones</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Tiempo de espera</th>
      <th>Asunto</th>
      <th>Descripcion</th>
      <th>Nombres</th>
      <th>Hora de Ingreso</th>
  
    </tr>
  </thead>

  <tbody>
    <% @recepciones.each do |recepcion| %>
      <tr>
        <td><%= distance_of_time_in_words_to_now(recepcion.hora_ingreso) %></td>
        <td><%= recepcion.asunto %></td>
        <td><%= recepcion.descripcion %></td>
        <td><%= recepcion.nombres %></td>
        <td><%= recepcion.hora_ingreso %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

