<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :apellido %>
      <%= f.text_field :apellido, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :agencia %>
      <%= f.collection_select :agencia_id, Agencia.all, :id, :nombre, {prompt: 'Seleccione una agencia'}, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :rol %>
      <%= f.collection_select :rol, Usuario.roles, :first, :first, {prompt: 'Seleccione un rol'}, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :estado %>
      <%= f.collection_select :estado, Usuario.estados, :first, :first, {}, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :codigo %>
      <%= f.text_field :codigo, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :cedula %>
      <%= f.text_field :cedula, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :password %>
      <%= f.text_field :password, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: 'form-control' %>
    </div>      
  </div>

  
  <div class="actions">
    <%= f.submit 'Guardad', class: 'btn btn-primary' %>
  </div>
<% end %>
