<div class="row">
  <div class="col-md-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            Imágen de perfil
          </div>  
          <div class="panel-body">

          </div>
      </div>
  </div>
  <div class="col-md-9">
      <div class="panel panel-default">
          <div class="panel-heading">
            Detalles de la cuenta
          </div> 
          <table class="table">
            <tr>
              <td><b>Nombre:</b> <%= @usuario.nombre %></td>
              <td><b>Apellido:</b> <%= @usuario.apellido %></td>
            </tr>
            <tr>
              <td><b>Cédula:</b> <%= @usuario.cedula %></td>
              <td><b>Agencia:</b> <%= @usuario.agencia %></td>
            </tr>
            <tr>
              <td><b>Rol:</b> <%= @usuario.rol %></td>
              <td><b>Estado:</b> <%= @usuario.estado %></td>
            </tr>

            <tr>
              <td><b>Código:</b> <%= @usuario.codigo %></td>
              <td><b>Correo:</b> <%= @usuario.email %></td>
            </tr>
            <tr>
              <td><b>Login:</b> <%= @usuario.login %></td>
              <td></td> 
            </tr>

          </table> 
      </div>
  </div>
</div>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Atrás', usuarios_path %>
